
@{
    ViewData["Title"] = "Index";
}


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br /><br />
                  <div class="container filter-wrapper-custom">
                      <br />
                      <label>Filtrera</label>
                      <br />
                      <div class="row">
                          <div class="col-lg-3">Årsmodell - från</div>
                          <div class="col-lg-3">Pris - från</div>
                          <div class="col-lg-3">Mil - från</div>
                          <div class="col-lg-3">Bränsle</div>
                      </div>
                      <div class="row">
                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>

                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>

                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>

                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>
                      </div>
                      <br />
                      <div class="row">
                          <div class="col-lg-3">Årsmodell - till</div>
                          <div class="col-lg-3">Pris - till</div>
                          <div class="col-lg-3">Mil - till</div>
                          <div class="col-lg-3">Växellåda</div>
                      </div>
                      <div class="row">
                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>

                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>

                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>

                          <div class="col-lg-3">
                              <select class="form-control">
                                  <option>Default select</option>
                                  <option>Second select</option>
                                  <option>Third select</option>
                                  <option>Fourth select</option>
                              </select>

                          </div>
                      </div>

                      <br />
                      <label class="pure-material-checkbox">
                          <input type="checkbox">
                          <span>Nya bilar</span>
                      </label>

                      <label class="pure-material-checkbox">
                          <input type="checkbox">
                          <span>Begagnade bilar</span>
                      </label>

                      <br />
                      <br />

                      <div class="row">
                          <div class="col-lg-1">
                              Karosserier
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-lg-1">
                              <div class="form-check">
                                  
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>Alla</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>
                          </div>
                          <div class="col-lg-1">
                              <div class="form-check">
                                  
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>Cab</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>


                          </div>
                          <div class="col-lg-1">
                              <div class="form-check">
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>Halvkombi</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>

                          </div>
                          <div class="col-lg-1">
                              <div class="form-check">
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>Kombi</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>
                          </div>
                       
                          <div class="col-lg-1">
                              <div class="form-check">
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>SUV</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>
                          </div>
                          <div class="col-lg-1">
                              <div class="form-check">
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>Sedan</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>
                          </div>
                          <div class="col-lg-1">
                              <div class="form-check">
                                  <label class="pure-material-checkbox">
                                      <input type="checkbox">
                                      <span>Sportkupe</span>
                                  </label>
                                  <br />
                                  <i class="fas fa-car"></i>
                              </div>
                          </div>

                      </div>

                      <br />


                  </div>
<br />
<br /><br />


<div class="container car-result-custom-container">
    <div class="row">
        <div class="col-lg-3"><img src="~/img/CarResultPlaceholderImage.jpg" height="160" width="200" alt="Alternate Text" /></div>
        <div class="col-lg-4">
            <div class="custom-car-result-heading">Volvo V90</div>

            <br />

            <div class="custom-car-result-subheading"> 1997 - 100K mil - Jönköping</div>
            <br />
            <br />
            <br />



            <div class="custom-car-result-heading">699 000 kr</div>
            <br />
            <div class="custom-car-result-subheading">
                535 200 kr exkl. moms
            </div>
        </div>



    </div>
</div>

<div class="container car-result-custom-container">
    <div class="row">
        <div class="col-lg-3"><img src="~/img/CarResultPlaceholderImage.jpg" height="160" width="200" alt="Alternate Text" /></div>
        <div class="col-lg-4">
            <div class="custom-car-result-heading">Volvo V90</div>

            <br />

            <div class="custom-car-result-subheading"> 1997 - 100K mil - Jönköping</div>
            <br />
            <br />
            <br />



            <div class="custom-car-result-heading">699 000 kr</div>
            <br />
            <div class="custom-car-result-subheading">
                535 200 kr exkl. moms
            </div>
        </div>



    </div>
</div>




<div class="container car-result-custom-container">
    <div class="row">
        <div class="col-lg-3"><img src="~/img/CarResultPlaceholderImage.jpg" height="160" width="200" alt="Alternate Text" /></div>
        <div class="col-lg-4">
            <div class="custom-car-result-heading">Volvo V90</div>

            <br />

            <div class="custom-car-result-subheading"> 1997 - 100K mil - Jönköping</div>
            <br />
            <br />
            <br />



            <div class="custom-car-result-heading">699 000 kr</div>
            <br />
            <div class="custom-car-result-subheading">
                535 200 kr exkl. moms
            </div>
        </div>



    </div>
</div>

<div class="container car-result-custom-container">
    <div class="row">
        <div class="col-lg-3"><img src="~/img/CarResultPlaceholderImage.jpg" height="160" width="200" alt="Alternate Text" /></div>
        <div class="col-lg-4">
            <div class="custom-car-result-heading">Volvo V90</div>

            <br />

            <div class="custom-car-result-subheading"> 1997 - 100K mil - Jönköping</div>
            <br />
            <br />
            <br />



            <div class="custom-car-result-heading">699 000 kr</div>
            <br />
            <div class="custom-car-result-subheading">
                535 200 kr exkl. moms
            </div>
        </div>



    </div>
</div>




