@model BolindersBil.web.ViewModels.ContactViewModel


@{
    ViewData["Title"] = "Kontakt";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @*för att kunna använda geo location i utvecklar miljö behöver man ingen api nyckel efter "js?"*@
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
</head>
<body>
    <div class="container">
        <h2>Kontakta oss</h2>
        <hr />
        <div class="row">

            <div class="card" style="width: 18rem; text-align: center; max-height: 575px;">
                <div class="card-body">
                    <h5 class="card-title">Bolinders Bil Värnamo</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Bultgatan 2 Värnamo</h6>
                    <a href="tel: +46370123456" class="card-link">0370-123456</a>
                    <a href="mailto:varnamo@bolindersbil.se" class="card-link">varnamo@bolindersbil.se</a>
                    <input type="button" value="Hitta hit!" onclick="DisplayGoogleMapVmo()" />
                    <div id="myDivVmo" style="width:100%;height:400px;"></div>
                </div>
            </div>

            <div class="card" style="width: 18rem; text-align: center; max-height: 575px;">
                <div class="card-body">
                    <h5 class="card-title">Bolinders Bil Jönköping</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Lovsjövägen 33 Jönköping</h6>
                    <a href="tel: +4636123456" class="card-link">0370-123456</a>
                    <a href="mailto:jonkoping@bolindersbil.se" class="card-link">jonkoping@bolindersbil.se</a>
                    <input type="button" value="Hitta hit!" onclick="DisplayGoogleMapJkpg()" />
                    <div id="myDivJkpg" style="width:100%;height:400px;"></div>
                </div>
            </div>

            <div class="card" style="width: 18rem; text-align: center; max-height: 575px;">
                <div class="card-body">
                    <h5 class="card-title">Bolinders Bil Göteborg</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Industrivägen 1 Göteborg</h6>
                    <a href="tel: +4631123456" class="card-link">031-123456</a>
                    <a href="mailto:goteborg@bolindersbil.se" class="card-link">goteborg@bolindersbil.se</a>
                    <input type="button" value="Hitta hit!" onclick="DisplayGoogleMapGbg()" />
                    <div id="myDivGbg" style="width:100%;height:400px;"></div>
                </div>
            </div>

            @*kod för google maps*@
            <script type="text/javascript">

                //funktion för maps på jkpg kortet
                function DisplayGoogleMapJkpg() {

                    //Set the Latitude and Longitude of the Map
                    var jonkoping = new google.maps.LatLng(57.697769, 14.184420)

                    //Create Options or set different Characteristics of Google Map
                    var mapOptions = {
                        center: jonkoping,
                        zoom: 15,
                        minZoom: 50,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    //Display the Google map in the div control with the defined Options
                    var map = new google.maps.Map(document.getElementById("myDivJkpg"), mapOptions);

                    //set marker on the map jönköping
                    var marker1 = new google.maps.Marker({
                        position: jonkoping,
                        url: 'https://www.google.se/maps/place/Lovsjövägen+33,+556+33+Jönköping/57.6977857,14.1827363',
                        //animation: google.maps.Animation.BOUNCE,
                    });
                    
                    marker1.setMap(map);

                    //när man klickar på en marker ska man länkas vidare till google maps hemsida.
                    google.maps.event.addListener(marker1, 'click', function () {
                        window.open(this.url, '_blank');
                    });
                }

                //funktion för maps på vmo kortet
                function DisplayGoogleMapVmo() {

                    //Set the Latitude and Longitude of the Map
                    var Vernamo = new google.maps.LatLng(57.941792, 12.565810);
                    
                    //Create Options or set different Characteristics of Google Map
                    var mapOptions = {
                        center: Vernamo,
                        zoom: 15,
                        minZoom: 50,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    //Display the Google map in the div control with the defined Options
                    var map = new google.maps.Map(document.getElementById("myDivVmo"), mapOptions);

                    //set marker on the map jönköping
                    var marker = new google.maps.Marker({
                        position: Vernamo,
                        url: 'https://www.google.se/maps/search/Bultgatan+2+Värnamo/57.941792,12.565810'
                        //animation: google.maps.Animation.BOUNCE,
                    });

                    marker.setMap(map);

                    google.maps.event.addListener(marker, 'click', function () {
                        window.open(this.url, '_blank');
                    });
                }
                //funktion för maps på göteborg kortet
                function DisplayGoogleMapGbg() {

                    //Set the Latitude and Longitude of the Map
                    var goteborg = new google.maps.LatLng(57.918941, 12.066450)


                    //Create Options or set different Characteristics of Google Map
                    var mapOptions = {
                        center: goteborg,
                        zoom: 15,
                        minZoom: 50,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    //Display the Google map in the div control with the defined Options
                    var map = new google.maps.Map(document.getElementById("myDivGbg"), mapOptions);

                    //Set Marker on the Map göteborg
                    var marker2 = new google.maps.Marker({
                        position: goteborg,
                        url: 'https://www.google.se/maps/place/Industrivägen+1,+433+61+Sävedalen/57.7347466,12.0735432'
                        //animation: google.maps.Animation.BOUNCE,
                    });
                    marker2.setMap(map);

                    google.maps.event.addListener(marker2, 'click', function () {
                        //kommer öppna ett nytt fönster till google maps med marken på url för adressen
                        window.open(this.url, '_blank');
                    });
                }
            </script>

            <div class="panel-body" style="align-content: center;">
                <h4>Fyll i kontakt formuläret!</h4>
                <form asp-action="SendForm" method="post">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group">
                        <label asp-for="Name">Namn:* </label>
                        <input class="form-control" asp-for="Name" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email">Email:* </label>
                        <input class="form-control" asp-for="Email" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">Telefon Nummer: </label>
                        <input class="form-control" asp-for="PhoneNumber" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Ärende:* </label>
                        <input class="form-control" asp-for="Title" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="Message">Meddelande:* </label>
                        <input class="form-control" asp-for="Message" required />
                    </div>

                    <div class="form-group">
                        <label asp-for="DealerShipMail">Anläggning: </label>
                        <select class="form-control" asp-for="DealerShipMail">
                            <option value="kontakt@bolindersbil.se">Välj anläggning</option>
                            <option value="jonkoping@bolindersbil.se">Jönkoping</option>
                            <option value="varnamo@bolindersbil.se">Värnamo</option>
                            <option value="goteborg@bolindersbil.se">Göteborg</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Skicka</button>

                </form>

            </div>

        </div>
    </div>

</body>

</html>