<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.css" rel="stylesheet" />
    <link href="~/lib/lightbox/css/lightbox.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/solid.css" integrity="sha256-gpZL4O9v1sMxFqxDr+1zEsM5geg+qckpVQcMMEWIuRw=" crossorigin="anonymous" />

    <link href="~/maincss/main.css" rel="stylesheet" />
    @*<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />*@

</head>
<body>

    <header id="header" class="fixed-top">
        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#header"><span>NewBiz</span></a></h1> -->
                <a asp-action="index" asp-controller="home">
                    <div class="custom-logo-style">Bolinders Bil AB</div>
                </a>
            </div>



            <nav class="main-nav float-right d-none d-lg-block">
                <ul>

                    <li><a asp-controller="Filter" asp-action="Index" asp-route-state="alla"><div class="custom-navlink-style">Alla bilar</div></a></li>
                    <li><a asp-controller="Filter" asp-action="Index" asp-route-state="nya"><div class="custom-navlink-style">Nya bilar</div></a></li>
                    <li><a asp-controller="Filter" asp-action="Index" asp-route-state="begagnade"><div class="custom-navlink-style">Begagnade bilar</div></a></li>
                    @*<li><a href="Contact/index"><div class="custom-navlink-style">Kontakt</div></a></li>*@
                    <li><a asp-controller="Contact" asp-action="Index"> <div class="custom-navlink-style">Kontakt</div></a></li>
                </ul>
            </nav><!-- .main-nav -->
        </div>
    </header><!-- #header -->
    <div class="container body-content">
        @RenderBody()
        <hr />


        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 footer-info">
                            <h3>Bolinders Bil AB</h3>
                        </div>

                        <div class="col-lg-6 col-md-6 footer-links">
                            <h2>Länkar</h2>
                            <ul>
                                <li><a asp-controller="Filter" asp-action="Index" asp-route-state="alla"><div class="custom-navlink-style">Alla bilar</div></a></li>
                                <li><a asp-controller="Filter" asp-action="Index" asp-route-state="nya"><div class="custom-navlink-style">Nya bilar</div></a></li>
                                <li><a asp-controller="Filter" asp-action="Index" asp-route-state="begagnade"><div class="custom-navlink-style">Begagnade bilar</div></a></li>
                                @*<li><a href="Contact/index"><div class="custom-navlink-style">Kontakt</div></a></li>*@
                                <li><a asp-controller="Contact" asp-action="Index"> <div class="custom-navlink-style">Kontakt</div></a></li>
                            </ul>
                        </div>

                        @*<div class="col-lg-3 col-md-6 footer-contact">
                            <h4><a asp-controller="Contact" asp-action="Index"> <div class="custom-navlink-style">Kontakta oss</div></a></h4>
                            <p>
                            
                            </p>

                            <div class="social-links">
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>

                        </div>*@

                        @*<div class="col-lg-3 col-md-6 footer-newsletter">
                            <h4>Our Newsletter</h4>
                            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Subscribe">
                            </form>
                        </div>*@

                    </div>
                </div>
            </div>

            <div class="container">
                <div class="copyright">
                    &copy; Copyright <strong>Bolinders Bil AB</strong>.
                </div>
                <p>Skapat av Ortens Programmering Corporation för Bolinders Bil AB</p>
            </div>
        </footer><!-- #footer -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


    </div>
    <script src="~/jquery/jquery.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/easing/easing.js"></script>
    <script src="~/lib/mobile-nav/mobile-nav.js"></script>
    <script src="~/lib/wow/wow.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.js"></script>
    <script src="~/lib/isotope/isotope.pkgd.js"></script>
    <script src="~/lib/lightbox/js/lightbox.js"></script>
    <script src="~/js/main.js"></script>

    <partial name="~/Views/Shared/_Cookies.cshtml" />

</body>
</html>