@model BolindersBil.web.ViewModels.CreateCarViewModel


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>
<br />

<button class="btn btn-primary">Lägg till bil</button>
<hr />





<div class="addnewcar-custom-design">
    <form asp-action="CreateNewCar" asp-controller="Admin" method="post" enctype="multipart/form-data">

        <div asp-validation-summary="All"></div>


        <br />
        <center>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <b> <label asp-for="Vehicle.Model">Modell</label></b></b>
                        <input class="form-control" asp-for="Vehicle.Model" />

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-md-12">
                        <b> <label asp-for="Vehicle.RegistrationNumber">Nummerplåt</label></b>
                        <input class="form-control" asp-for="Vehicle.RegistrationNumber" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Year">År</label></b>
                        <input asp-items="Model.Year" asp-for="Vehicle.Year" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Body">Karoserri</label></b>
                        <select asp-items="Model.Bodies" asp-for="Vehicle.BodyId"></select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Brand">Märke</label></b>
                        <select asp-items="Model.Brands" asp-for="Vehicle.BrandId"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Mileage">Mil</label></b>
                        <input class="form-control" asp-for="Vehicle.Mileage" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Price">Pris</label></b>
                        <input class="form-control" asp-for="Vehicle.Price" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Color">Färg</label></b>
                        <input class="form-control" asp-for="Vehicle.Color" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Transmission">Växellåda</label></b>
                        <input class="form-control" asp-for="Vehicle.Transmission" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Fuel">Bränsle</label></b>
                        <input class="form-control" asp-for="Vehicle.Fuel" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Horsepower">Hästkrafter</label></b>
                        <input class="form-control" asp-for="Vehicle.Horsepower" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Lease">Lease</label></b>
                        <input class="form-control checkbox-custom" asp-for="Vehicle.Lease" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Attributes">Egenskaper</label></b>
                        <input class="form-control" asp-for="Vehicle.Attributes" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Dealership">Anläggning</label></b>
                        <br />
                        <select asp-items="Model.Dealerships" asp-for="Vehicle.DealerShipId"></select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="images">Ladda upp bild:</label><br />
                        <input type="file" name="images" id="images" multiple />
                    </div>
                </div>
            </div>

           

            <br />
            <div class="row">
                <div class="col-lg-2">
                    <button class="btn btn-primary" type="submit">Lägg till ny bil</button>

                </div>
                <div class="col-lg-1">
                    <a asp-action="Index" class="btn btn-danger">Avbryt</a>

                </div>
            </div>
    </form>
</div>
<br />
<br />

