@model EditVehicleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h3>@ViewBag.Heading</h3>


<div class="container custom-login-container">

    <form asp-action="Edit" asp-controller="Admin" method="post" class="col-md-12">
        <input type="hidden" asp-for="Vehicle.Id" />
        <div asp-validation-summary="All"></div>

        <div class="row">
          
            <div class="col-lg-5 text-lg-left">
                <h2>Edit Vehicle</h2>
            </div>

        </div>

        <br />
        <center>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">

                        <b> <label asp-for="Vehicle.Model">Modell</label></b></b>
                        <input class="form-control" asp-for="Vehicle.Model" />

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group col-md-12">
                        <b> <label asp-for="Vehicle.RegistrationNumber">Nummerplåt</label></b>
                        <input class="form-control" asp-for="Vehicle.RegistrationNumber" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Year">År</label></b>
                        <input asp-items="Model.Year" asp-for="Vehicle.Year" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Body">Karoserri</label></b>
                        <select asp-items="Model.Bodies" asp-for="Vehicle.BodyId"></select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Brand">Märke</label></b>
                        <select asp-items="Model.Brands" asp-for="Vehicle.BrandId"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Mileage">Mil</label></b>
                        <input class="form-control" asp-for="Vehicle.Mileage" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Price">Pris</label></b>
                        <input class="form-control" asp-for="Vehicle.Price" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Color">Färg</label></b>
                        <input class="form-control" asp-for="Vehicle.Color" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Transmission">Växellåda</label></b>
                        <input class="form-control" asp-for="Vehicle.Transmission" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Fuel">Bränsle</label></b>
                        <input class="form-control" asp-for="Vehicle.Fuel" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Horsepower">Hästkrafter</label></b>
                        <input class="form-control" asp-for="Vehicle.Horsepower" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Lease">Lease</label></b>
                        <input class="form-control checkbox-custom" asp-for="Vehicle.Lease" />
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Attributes">Egenskaper</label></b>
                        <input class="form-control" asp-for="Vehicle.Attributes" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <b> <label asp-for="Vehicle.Dealership">Anläggning</label></b>
                        <br />
                        <select asp-items="Model.Dealerships" asp-for="Vehicle.DealerShipId"></select>
                    </div>
                </div>
            </div>


        </center>




        <br />






        <div class="row">
            <div class="col-6 ">
                <button class="btn btn-primary btn-md" type="submit">Spara</button>
                &nbsp;&nbsp;&nbsp;
                <a asp-action="Index" class="btn btn-danger btn-md">Avbryt</a>
            </div>
        </div>

    </form>
</div>






@*<div class="container custom-login-container">

        <form asp-action="Edit" asp-controller="Admin" method="post" class="col-md-12">
            <input type="hidden" asp-for="Vehicle.Id" />
            <div asp-validation-summary="All"></div>

            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-lg-5 text-lg-left">
                    <h2>Edit Vehicle</h2>
                </div>


                <div class="col-6 text-lg-center">
                    <button class="btn btn-primary btn-md" type="submit">Spara</button>
                    &nbsp;&nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-danger btn-md">Avbryt</a>
                </div>
            </div>

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Model">Model: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-for="Vehicle.Model" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.RegistrationNumber">Reg Num: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-for="Vehicle.RegistrationNumber" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Year">Year: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Year" asp-for="Vehicle.Year" />
                    </span>
                </div>
            </div>
            <br />


            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Body">Body:</label></b>
                        &nbsp;&nbsp;&nbsp;
                        <select class="form-control" asp-items="Model.Bodies" asp-for="Vehicle.BodyId"></select>
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Brand">Brand:</label></b>
                        &nbsp;&nbsp;&nbsp;
                        <select class="form-control" asp-items="Model.Brands" asp-for="Vehicle.BrandId"></select>
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Mileage">Mileage: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Mileage" asp-for="Vehicle.Mileage" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Price">Price: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Price" asp-for="Vehicle.Price" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Color">Color: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Color" asp-for="Vehicle.Color" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Transmission">Transmission: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Transmission" asp-for="Vehicle.Transmission" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Fuel">Fuel: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Fuel" asp-for="Vehicle.Fuel" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Horsepower">Horsepower: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Horsepower" asp-for="Vehicle.Horsepower" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Attributes">Attributes: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control" asp-items="Model.Attributes" asp-for="Vehicle.Attributes" />
                    </span>
                </div>
            </div>
            <br />

            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Dealership">Dealership:</label></b>
                        &nbsp;&nbsp;&nbsp;
                        <select class="form-control" asp-items="Model.Dealerships" asp-for="Vehicle.DealerShipId"></select>
                    </span>
                </div>
            </div>
            <br />


            <div class="input-group col-lg-12">
                <div class="input-group-prepend col-md-12">
                    <span class="input-group-text col-md-12">
                        <b> <label asp-for="Vehicle.Lease">Lease: </label></b>
                        &nbsp;&nbsp;&nbsp;
                        <input class="form-control checkbox-custom" asp-for="Vehicle.Lease" />
                    </span>
                </div>
            </div>
        </form>
    </div>*@




@*<div class="form-group">
        <b> <label asp-for="FileUpload">FileUpload:</label></b>
        <input class="form-control" asp-for="FileUpload" />
    </div>*@


@*<b> <labelfor="FileUpload">Upload Image:</label></b>
    <input type="file" name="FileUpload" id="FileUpload" /><br><br>
    <input type="submit" value="Upload Image" />*@

@*<div class="form-group">
        <b> <labelfor="images">Ladda upp bild:</label></b><br />
        <input type="file" name="images" id="images" multiple />
    </div>*@

